<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block header %}{% endblock %}</title>
</head>
<body class="bg-indigo-100 leading-normal text-base tracking-normal">

    <div class="w-full container mx-auto">

        <header id="header" class='flex flex-col items-center mt-4'>
            <svg class="h-16 w-16" <svg  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
            <span class='text-black-500 text-2xl uppercase'>Регистрация участников</span>
        </header>

        
        <!--Nav-->
        <nav class="z-30">
            <div class="flex flex-row flex-no-wrap justify-between px-3 py-3">
                
                <div class="flex items-center" id="menu">
                    <!--Burger-->
                    <label for="menu-toggle" class="cursor-pointer">
                        <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <title>menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                        </svg>
                    </label>
                    <input class="hidden" type="checkbox" id="menu-toggle" />
                    <!--Menu-->
                    <nav>
                        <ul class="flex items-center justify-between text-base text-gray-700 pt-0">
                            <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="{{url_for('index')}}">Главная</a></li>
                            <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="{{url_for('index')}}">Отчеты</a></li>
                            <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="{{url_for('event_add')}}">Добавить событие</a></li>
                        </ul>
                    </nav>
                </div>

                <!--Login-->
                <div class="flex items-center" id="nav-content">   
                    <a href="/login">
                        <svg class="h-8 w-8 text-black-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />  <path d="M20 12h-13l3 -3m0 6l-3 -3" /></svg>
                    </a>             
                </div>

            </div>
        </nav>

        <div class="h-auto overflow-hidden">
            {% block content %}{% endblock %}
        </div>
 
    </div>

</body>
</html>