{% extends 'layout.html' %}

{% block header %}
  {% block title %}Добавление события{% endblock %}
{% endblock %}

{% block content %}
{{ super() }} 

<h1 class='text-blue-500 font-sans p-4 text-xl'>Добавление события</h1>

<div class="w-full max-w-4xl">
	<form class="bg-white rounded px-8 pt-6 pb-8 mb-4" method="POST">
		
		{{ form.hidden_tag() }}
 
		<div class="mb-4">
			<p>{{ form.name.label(class="block text-gray-600 text-sm font-semibold mb-2") }}</p> 
			<p>{{ form.name(class="bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}</p>
		</div>

		<div class="mb-4">
			<p>{{ form.place.label(class="block text-gray-600 text-sm font-semibold mb-2") }}</p> 
			<p>{{ form.place(class="bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}</p>
		</div>


		<div class="grid grid-cols-2 max-w-lg">
			<div class="mb-4">
				<p>{{ form.date_start.label(class="block text-gray-600 text-sm font-semibold mb-2") }}</p> 
				<p>{{ form.date_start(class="bg-gray-100 appearance-none border rounded max-w-xs py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}</p>
			</div>
	
			<div class="mb-4">
				<p>{{ form.time_start.label(class="block text-gray-600 text-sm font-semibold mb-2") }}</p> 
				<p>{{ form.time_start(class="bg-gray-100 appearance-none border rounded max-w-xs py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}</p>
			</div>
		</div>

		<div class="mb-4">
			<p>{{ form.date_end.label(class="block text-gray-600 text-sm font-semibold mb-2") }}</p> 
			<p>{{ form.date_end(class="bg-gray-100 appearance-none border rounded max-w-xs py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}</p>
		</div>

		<div class="mb-4">
			<p>{{ form.notes.label(class="block text-gray-600 text-sm font-semibold mb-2") }}</p> 
			<p>{{ form.notes(class="bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}</p>
		</div>		
		
		<div class="flex items-center justify-between">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
				Сохранить
			</button>
			<a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/event/add">
				Отменить
			</a>
		</div>
	</form>

</div>

{% endblock %}